<footer id="footer" class="footer pt-120">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="logo footer__logo">
                    <img class="logo__img footer__logo-img" src="img/logo.svg" alt="">
                    <div class="footer__logo-title">
                        Переосмысление пространства со вкусом
                    </div>
                </div>
                <div class="footer__calculate">
                    <div class="footer__calculate-title">
                        Закажите обратный звонок, и&nbsp;мы&nbsp;Вам перезвоним
                    </div>
                    <form class="form footer__calculate-form">
                        <input type="tel" class="form__field" placeholder="+7 (___) ___-__-__">
                        <button class="btn step-btn step-btn--brown form__submit">
                            Рассчитать стоимость
                        </button>
                    </form>
                </div>
                <div class="footer__contacts">
                    <a href="tel:+7 (495) 555-10-20" class="phone footer__phone">
                        +7 (495) 555-10-20
                    </a>
                    <ul class="social footer__social">
                        <li class="social__item footer__social-item">
                            <a class="social__link footer__social-link" href="#" target="_blank" rel="noopener noreferrer">
                                WhatsApp
                                <svg viewBox="0 0 15 15" width="15" height="15">
                                    <use href="img/icons/sprite.svg#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item footer__social-item">
                            <a class="social__link footer__social-link" href="#" target="_blank" rel="noopener noreferrer">
                                Telegram
                                <svg viewBox="0 0 15 15" width="15" height="15">
                                    <use href="img/icons/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item footer__social-item">
                            <a class="social__link footer__social-link" href="#" target="_blank" rel="noopener noreferrer">
                                Instagram
                                <svg viewBox="0 0 15 15" width="15" height="15">
                                    <use href="img/icons/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <nav class="nav footer__nav">
                    <ul class="nav__list footer__nav-list">
                        <li class="nav__item footer__nav-item">
                            <a class="nav__link footer__nav-link" href="#">
                                Проекты
                            </a>
                        </li>
                        <li class="nav__item footer__nav-item">
                            <a class="nav__link footer__nav-link" href="#">
                                О нас
                            </a>
                        </li>
                        <li class="nav__item footer__nav-item">
                            <a class="nav__link footer__nav-link" href="#">
                                Услуги и цены
                            </a>
                        </li>
                        <li class="nav__item footer__nav-item">
                            <a class="nav__link footer__nav-link" href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__copyright">
                    2024. Все права защищены.
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/libs/swiper-bundle.min.js"></script>
<script src="js/libs/fancybox.umd.js"></script>
<script src="js/libs/imask.min.js"></script>
<script src="js/main.min.js"></script>